Repository Guusvanmeerveld/Dust-Mail: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

.lintstagedrc.json:

{
	"*.ts": ["prettier --list-different", "eslint -c apps/server/.eslintrc.js"],
	"*.tsx": ["prettier --list-different", "eslint -c apps/web/.eslintrc.json"],
	"*.json": "prettier --list-different"
}

perf(server): server now encrypts cache
  apps/server/src/auth/auth.controller.ts
  apps/server/src/cache/cache.module.ts
  apps/server/src/cache/cache.service.ts
  apps/server/src/cache/interfaces/cache.d.ts
  apps/server/src/google/google.service.ts
  apps/server/src/imap/client.ts
  apps/server/src/imap/imap.service.ts
  apps/server/src/smtp/smtp.service.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

fix(server): not being able to refresh tokens
  apps/server/src/auth/auth.controller.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

style(server): remove unused constants file
  apps/server/src/crypto/constants.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

fix(dockerfile): secrets directory env name
  Dockerfile
Due: none

feat(web): add little collapse button on message overview
  apps/web/src/components/Message/Overview.tsx
Due: prettier --list-different, eslint -c apps/web/.eslintrc.json

v0.2.2
  CHANGELOG.md
  package.json
Due: prettier --list-different

chore(version-bump): bump server and web to 0.2.2
  apps/server/package.json
  apps/web/package.json
Due: prettier --list-different

fix(server): small bug fixes
  apps/server/src/cache/cache.service.ts
  apps/server/src/imap/imap.service.ts
  apps/server/src/mail/mail.controller.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

docs(readmes): update/create readmes for all the projects
  apps/about/README.md
  apps/android/README.md
  apps/docs/README.md
  apps/server/README.md
  apps/web/README.md
Due: none

docs(readme): add README for apps folder
  apps/README.md
Due: none

deploy: ff5f6db5ba7203230e65028b7f1f07c1bc5c8073
  sitemap.xml
  sitemap.xml.gz
Due: none

v0.2.3
  CHANGELOG.md
  apps/server/package.json
  apps/web/package.json
  apps/web/src-tauri/tauri.conf.json
  package.json
Due: prettier --list-different

chore(tauri): bump tauri version to fix security issues
  apps/web/package.json
  apps/web/src-tauri/Cargo.lock
  apps/web/src-tauri/Cargo.toml
Due: prettier --list-different

feat(versioning): now using standard-version to generate changelogs and update version
  .versionrc
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

ci(release.yml): auto release tauri app to AUR
  .github/workflows/release.yml
Due: none

chore(tauri): base tauri version of @dust-mail/web package.json
  apps/web/src-tauri/tauri.conf.json
Due: prettier --list-different

feat(web): added a changelog
  apps/web/.env
  apps/web/package.json
  apps/web/src/components/Layout.tsx
  apps/web/src/interfaces/http.d.ts
  apps/web/src/utils/hooks/useFetch.ts
  apps/web/src/utils/hooks/useStore.ts
  apps/web/src/vite-env.d.ts
  pnpm-lock.yaml
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

feat(server+web): remove 'OtherLogins' and now recognize when logging in with google
  .lintstagedrc.json
  apps/server/package.json
  apps/server/public/oauth.html
  apps/server/public/scripts/oauth.js
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/google/google.controller.ts
  apps/server/src/google/google.module.ts
  apps/server/src/google/google.service.ts
  apps/server/src/google/incoming/box.ts
  apps/server/src/google/incoming/index.ts
  apps/server/src/imap/imap.service.ts
  apps/server/src/imap/xoauth2.d.ts
  apps/server/src/mail/mail.controller.ts
  apps/server/src/main.ts
  apps/server/src/utils/createOAuthPage.ts
  apps/web/src-tauri/src/main.rs
  apps/web/src/components/Changelog.tsx
  apps/web/src/components/Login/Form.tsx
  apps/web/src/components/Login/OtherLogins.tsx
  apps/web/src/components/Message/Overview.tsx
  apps/web/src/interfaces/oauth.d.ts
  apps/web/src/pages/login.tsx
  apps/web/src/utils/detectProviderFromEmail.ts
  apps/web/src/utils/hooks/useOAuth.ts
  packages/autodiscover/src/interfaces/autoConfigFile.ts
  packages/autodiscover/src/interfaces/emailServer.ts
  packages/autodiscover/src/thunderbird.ts
  packages/typings/src/services.ts
  pnpm-lock.yaml
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

fix(server+web): greatly increase security of oauth logins
  apps/server/public/oauth.html
  apps/server/public/oauth.js
  apps/server/src/google/google.controller.ts
  apps/server/src/main.ts
  apps/server/src/utils/createOAuthPage.ts
  apps/web/src/utils/hooks/useOAuth.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

chore(web): add message that says oauth auth is not supported on tauri
  apps/server/public/oauth.js
  apps/server/src/utils/createOAuthPage.ts
  apps/web/src/utils/hooks/useOAuth.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

chore(server): create check to test if provided hostname is actually a hostname
  apps/server/src/utils/createOAuthPage.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

chore(repo): fix a bunch of commit hook/lint-staged related stuff
  .husky/pre-commit
  .lintstagedrc.json
  apps/about/.eslintrc.json
  apps/about/package.json
  apps/about/src/components/Header.tsx
  apps/about/src/pages/404.tsx
  apps/about/src/pages/index.tsx
  apps/web/.eslintrc.json
  packages/autodiscover/tests/__snapshots__/server.test.ts.snap
  pnpm-lock.yaml
Due: prettier --list-different, eslint -c apps/web/.eslintrc.json

perf(web): greatly increased the performance of the main dashboard
  apps/server/src/imap/box.ts
  apps/server/src/imap/client.ts
  apps/web/src/components/Boxes/Add.tsx
  apps/web/src/components/Boxes/FolderTree.tsx
  apps/web/src/components/Boxes/List.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/LoginStateHandler.tsx
  apps/web/src/components/Message/List.tsx
  apps/web/src/components/Message/ListItem.tsx
  apps/web/src/components/Navbar/Avatar.tsx
  apps/web/src/components/Navbar/index.tsx
  apps/web/src/components/ParamStateHandler.tsx
  apps/web/src/pages/dashboard.tsx
  apps/web/src/pages/login.tsx
  apps/web/src/utils/hooks/useFetch.ts
  apps/web/src/utils/hooks/useLogin.ts
  apps/web/src/utils/hooks/useLogout.ts
  apps/web/src/utils/hooks/useSelected.ts
  apps/web/src/utils/hooks/useSelectedBox.ts
  apps/web/src/utils/hooks/useSelectedMessage.ts
  apps/web/src/utils/hooks/useUser.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

chore(release): 0.2.4
  CHANGELOG.md
  apps/server/package.json
  apps/web/package.json
  package.json
Due: prettier --list-different

fix(web): small changes/fixes for login and data fetching
  apps/server/src/auth/jwt.strategy.ts
  apps/server/src/cache/cache.service.ts
  apps/server/src/constants.ts
  apps/server/src/crypto/constants.ts
  apps/server/src/crypto/crypto.service.ts
  apps/web/package.json
  apps/web/src/components/Boxes/FolderTree.tsx
  apps/web/src/components/Login/Form.tsx
  apps/web/src/components/Message/ListItem.tsx
  apps/web/src/components/ParamStateHandler.tsx
  apps/web/src/interfaces/error.d.ts
  apps/web/src/utils/createClient.ts
  apps/web/src/utils/hooks/useFetch.ts
  apps/web/src/utils/hooks/useLogin.ts
  pnpm-lock.yaml
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

fix(web): remove file that is not used anymore
  apps/web/src/utils/createGravatarUrl.ts
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

feat(server): implemented imap for google oauth login
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/interfaces/jwt.interface.ts
  apps/server/src/google/google.module.ts
  apps/server/src/google/google.service.ts
  apps/server/src/google/incoming/box.ts
  apps/server/src/google/incoming/connect.ts
  apps/server/src/google/incoming/index.ts
  apps/server/src/google/incoming/message.ts
  apps/server/src/google/interfaces/box.d.ts
  apps/server/src/imap/imap.service.ts
  apps/server/src/mail/mail.controller.ts
  apps/server/src/smtp/client.ts
  apps/server/src/smtp/smtp.module.ts
  apps/server/src/smtp/smtp.service.ts
  apps/server/src/utils/createIdentifier.ts
  apps/server/src/utils/getOAuthToken.ts
  apps/server/src/xoauth2.d.ts
  apps/web/package.json
  apps/web/src/components/Navbar/Avatar.tsx
  apps/web/src/components/ParamStateHandler.tsx
  apps/web/src/utils/hooks/useLogout.ts
  apps/web/src/utils/hooks/useOAuth.ts
  packages/typings/src/services.ts
  pnpm-lock.yaml
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

fix(server+web): added throttler to server, fixed unread count not updating
  apps/server/src/cache/cache.service.ts
  apps/server/src/google/google.module.ts
  apps/server/src/mail/mail.controller.ts
  apps/server/src/mail/mail.module.ts
  apps/server/src/utils/guards/throttler-proxy.guard.ts
  apps/web/src/components/Boxes/FolderTree.tsx
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js, eslint -c apps/web/.eslintrc.json

chore(pre-commit): fix tests failing to quickly, added eslint for typings
  .husky/pre-commit
  package.json
  packages/autodiscover/vitests.config.ts
  packages/typings/.eslintrc.json
Due: prettier --list-different, eslint -c apps/server/.eslintrc.js

feat(pop3): started on a pop3 client implementation in Rust
  Cargo.toml
  packages/pop3/Cargo.toml
  packages/pop3/src/lib.rs
  packages/pop3/src/parse.rs
  packages/pop3/src/socket.rs
  packages/pop3/src/types/list.rs
  packages/pop3/src/types/mod.rs
  packages/pop3/src/types/stat.rs
Due: none

feat(pop3): completed full rfc implementation of pop3 client
  packages/pop3/docker-compose.test.yml
  packages/pop3/src/lib.rs
  packages/pop3/src/parse.rs
  packages/pop3/src/socket.rs
  packages/pop3/src/types/error.rs
  packages/pop3/src/types/mod.rs
Due: none

feat(pop3): added support for 'top' command
  packages/pop3/.gitignore
  packages/pop3/Cargo.toml
  packages/pop3/src/lib.rs
Due: none

feat(pop3): added support for 'uidl' command, move some files around
  packages/pop3/Cargo.toml
  packages/pop3/src/constants.rs
  packages/pop3/src/lib.rs
  packages/pop3/src/parse.rs
  packages/pop3/src/socket.rs
  packages/pop3/src/types/mod.rs
  packages/pop3/src/types/uidl.rs
  packages/pop3/src/utils.rs
Due: none

refactor(pop3): improved some return types, added display impl for error
  packages/pop3/src/lib.rs
  packages/pop3/src/parse.rs
  packages/pop3/src/socket.rs
  packages/pop3/src/types/error.rs
  packages/pop3/src/types/list.rs
  packages/pop3/src/types/mod.rs
  packages/pop3/src/types/stat.rs
Due: none

feat(core): basic start on core package, supports pop and imap
  packages/core/.gitignore
  packages/core/Cargo.toml
  packages/core/src/client.rs
  packages/core/src/detect.rs
  packages/core/src/imap/mod.rs
  packages/core/src/imap/parse.rs
  packages/core/src/lib.rs
  packages/core/src/pop/mod.rs
  packages/core/src/pop/parse.rs
  packages/core/src/tls.rs
  packages/core/src/types/error.rs
  packages/core/src/types/mailbox.rs
  packages/core/src/types/message.rs
  packages/core/src/types/mod.rs
  packages/core/src/utils.rs
Due: none

fix(cargo): update lock file
  Cargo.lock
  Cargo.toml
Due: none

style(pop3): improved formatting and error handling
  packages/pop3/src/lib.rs
  packages/pop3/src/socket.rs
  packages/pop3/src/types/error.rs
Due: none

style(core): improve styling and error handling
  packages/core/Cargo.toml
  packages/core/src/client.rs
  packages/core/src/detect.rs
  packages/core/src/imap/mod.rs
  packages/core/src/imap/parse.rs
  packages/core/src/lib.rs
  packages/core/src/parse.rs
  packages/core/src/pop/mod.rs
  packages/core/src/utils.rs
Due: none

refactor(sdk): rename 'core' to 'sdk'
  .gitignore
  Cargo.toml
  packages/sdk/.gitignore
  packages/sdk/Cargo.toml
  packages/sdk/src/client.rs
  packages/sdk/src/detect.rs
  packages/sdk/src/imap/mod.rs
  packages/sdk/src/imap/parse.rs
  packages/sdk/src/lib.rs
  packages/sdk/src/parse.rs
  packages/sdk/src/pop/mod.rs
  packages/sdk/src/pop/parse.rs
  packages/sdk/src/tls.rs
  packages/sdk/src/types/error.rs
  packages/sdk/src/types/mailbox.rs
  packages/sdk/src/types/message.rs
  packages/sdk/src/types/mod.rs
  packages/sdk/src/utils.rs
Due: none

feat(pop3): added support for capability checking
  packages/pop3/src/lib.rs
  packages/pop3/src/parse.rs
  packages/pop3/src/types/capability.rs
  packages/pop3/src/types/mod.rs
Due: none
